<md-fab-speed-dial md-direction="up">
  <md-fab-trigger permission permission-only="'admin'">
    <md-button aria-label="menu" class="md-fab md-warn" ng-click="newNoti()">
      <md-icon md-svg-src="assets/images/ic_add_48px.svg"></md-icon>
    </md-button>
  </md-fab-trigger>
</md-fab-speed-dial>

<div flex-gt-sm="90" layout-padding layout="column">
  <section ng-show="(noti | notiFilter: 'new').length != 0">
    <md-subheader class="md-primary">本月</md-subheader>
    <md-list class="content-list md-whiteframe-1dp">
      <md-list-item class="md-2-line" ng-repeat="item in noti | notiFilter: 'new'" 
        ng-click="viewNoti(item.id)">
          <div>
            <span class="md-title item-title">{{item.title}}</span>
            <span class="md-caption">{{item.date | date:'MM-dd'}}</span>
          </div>
          <md-icon permission permission-only="'admin'" class="md-secondary" md-svg-src="assets/images/ic_close_48px.svg"
            ng-click="deleteNoti(item.id,$event,$index)" aria-label="edit"></md-icon> 
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </section>
  <section ng-show="(noti | notiFilter: 'old').length != 0">
    <md-subheader class="md-primary">早期</md-subheader>
    <md-list class="content-list md-whiteframe-1dp">
      <md-list-item class="md-2-line" ng-repeat="item in noti | notiFilter: 'old'" 
        ng-click="viewNoti(item.id)">
          <div>
            <span class="md-title item-title">{{item.title}}</span>
            <span class="md-caption">{{item.date | date:'yyyy-MM-dd'}}</span>
          </div>
          <md-icon permission permission-only="'admin'" class="md-secondary" md-svg-src="assets/images/ic_close_48px.svg"
            ng-click="deleteNoti(item.id,$event,$index)" aria-label="edit"></md-icon> 
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </section>
</div>