<!doctype html>

<html lang="en">

   <head>
     <meta charset="utf-8">
     <meta name="description" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Phyman</title>

    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic"> -->
      <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
      <link rel="stylesheet" href="assets/main.css">

     <style>
       [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, x-ng-cloak {
         display: none !important;
       }
     </style>
   </head>

   <body ng-app="phyman" layout="column" ng-cloak>

    <md-toolbar class="md-theme-indigo md-whiteframe-3dp" layout="row" layout-align="start center"
          ng-controller="toolbarCtrl">
      <md-button id="nav-button" class="md-icon-button" hide-gt-sm ng-click="toggleList()" aria-label="Menu">
         <md-icon md-svg-src="assets/images/ic_menu_48px.svg"></md-icon>
      </md-button>
      <span id="app-name" class="md-headline">PhyMan</span>
      <span flex></span>
      <md-button id="search-button" class="md-icon-button" ng-click="toggleSearch()" aria-label="Search">
         <md-icon md-svg-src="assets/images/ic_search_48px.svg"></md-icon>
      </md-button>
      <md-menu>
        <md-button id="account-menu-button" class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Account">
           <md-icon md-svg-src="assets/images/ic_person_48px.svg"></md-icon>
        </md-button>
        <md-menu-content width="2">
          <md-menu-item ng-hide="isLoggedIn">
            <md-button ng-click="showLoginDlg($event)"><span md-menu-align-target>Login</span></md-button>
          </md-menu-item>
          <md-menu-item ng-hide="isLoggedIn">
            <md-button ng-click="showRegisterDlg($event)"><span md-menu-align-target>Register</span></md-button>
          </md-menu-item>
          <md-menu-item ng-show="isLoggedIn">
            <md-button ng-click="logout()"><span md-menu-align-target>Logout</span></md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-toolbar>
    <md-progress-linear id="load-progress" md-mode="indeterminate" ng-show="showLoadProgress"></md-progress-linear>
    <div id="main" layout="row">
      <nav id="sidenav" ng-controller = 'navCtrl' ng-show="isLoggedIn">
        <md-sidenav class="md-sidenav-left"
         md-component-id="left"
         md-is-locked-open="$mdMedia('gt-sm')">
          <md-list layout-padding>
            <md-list-item class="md-1-line" ng-repeat="item in menuItems" ng-click="clickMenuItem(item.state)">
              <div layout="row">
                <md-icon md-svg-src="{{item.img}}"></md-icon>
                <span class="nav-item-text">{{item.title}}</span>
              </div>
            </md-list-item>
          </md-list>
        </md-sidenav>
      </nav>
      <section id="content" ui-view layout="column" layout-fill></section>
    </div>

      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-material/angular-material.js"></script>
      <script src="bower_components/angular-aria/angular-aria.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/angular-messages/angular-messages.js"></script>
      <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
      <script src="bower_components/tinymce-dist/tinymce.js"></script>
      <script src="bower_components/angular-ui-tinymce/dist/tinymce.min.js"></script>

      <script src="modules/user/controller/user.js"></script>
      <script src="modules/user/route/user.js"></script>
      <script src="modules/user/service/AuthService.js"></script>
      <script src="modules/user/service/AuthDialog.js"></script>

      <script src="modules/noti/controller/noti.js"></script>
      <script src="modules/noti/route/noti.js"></script>
      <script src="modules/noti/service/NotiService.js"></script>

      <script src="modules/vote/controller/vote.js"></script>
      <script src="modules/vote/route/vote.js"></script>
      <script src="modules/vote/service/VoteService.js"></script>

      <script src="app.js"></script>

   </body>

</html>
