<!doctype html>

<html lang="en">

   <head>
     <meta charset="utf-8">
     <meta name="description" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Phyman</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
      <link rel="stylesheet" href="assets/angular-material.min.css">
      <link rel="stylesheet" href="assets/main.css">

     <style>
       [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, x-ng-cloak {
         display: none !important;
       }
     </style>
   </head>

   <body ng-app="phyman" layout="column" ng-cloak>

    <md-toolbar class="md-theme-indigo md-whiteframe-3dp" layout="row" layout-align="start center"
          ng-controller="toolbarCtrl">
      <md-button id="nav-button" class="md-icon-button" hide-gt-sm ng-click="toggleList()" aria-label="Menu">
         <md-icon md-svg-src="assets/images/ic_menu_48px.svg"></md-icon>
      </md-button>
      <span id="app-name" class="md-headline">PhyMan</span>
      <span flex></span>
      <md-menu>
        <md-button id="account-menu-button" class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Account">
           <md-icon md-svg-src="assets/images/ic_person_48px.svg"></md-icon>
        </md-button>
        <md-menu-content width="2">
          <md-menu-item ng-hide="isLoggedIn">
            <md-button ng-click="showLoginDlg($event)"><span md-menu-align-target>登录</span></md-button>
          </md-menu-item>
          <md-menu-item ng-hide="isLoggedIn">
            <md-button ng-click="showRegisterDlg($event)"><span md-menu-align-target>注册</span></md-button>
          </md-menu-item>
          <md-menu-item ng-show="isLoggedIn">
            <md-button ng-click="logout()"><span md-menu-align-target>Logout</span></md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-toolbar>
    <md-progress-linear id="load-progress" md-mode="indeterminate" ng-show="showLoadProgress"></md-progress-linear>
    <div id="main" layout="row">
      <nav id="sidenav" ng-controller = 'navCtrl' ng-show="isLoggedIn">
        <md-sidenav class="md-sidenav-left"
         md-component-id="left"
         md-is-locked-open="$mdMedia('gt-sm')">
          <md-list layout-padding>
            <md-list-item class="md-1-line" ng-repeat="item in menuItems" ng-click="clickMenuItem(item.state)">
              <div layout="row">
                <md-icon md-svg-src="{{item.img}}"></md-icon>
                <span class="nav-item-text">{{item.title}}</span>
              </div>
            </md-list-item>
          </md-list>
        </md-sidenav>
      </nav>
      <div id="content" ui-view layout="column"></div>
    </div>

      <script src="lib/angular.min.js"></script>
      <script src="lib/angular-material.min.js"></script>
      <script src="lib/angular-aria.min.js"></script>
      <script src="lib/angular-animate.min.js"></script>
      <script src="lib/angular-ui-router.min.js"></script>
      <script src="lib/angular-permission.min.js"></script>
      <script src="lib/angular-messages.min.js"></script>
      <script src="lib/angular-jwt.min.js"></script>
      <script src="lib/angular-ui-tinymce.min.js"></script>
      <script src="lib/tinymce/tinymce.min.js"></script>

      <script src="js/user.js"></script>
      <script src="js/noti.js"></script>
      <script src="js/settings.js"></script>

      <script src="app.js"></script>
   </body>

</html>
