<div class="panel panel-primary" ng-controller="ForgetPasswordCtrl" >
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">找回密码</h2>
            </div>
        </div>
		<form class="form-horizontal" role="form" novalidate="novalidate">
			<div class="form-group">
				<label class="col-md-2 control-label">邮箱：</label>
				<div class="col-md-10">
				<input type="email" class="form-control" placeholder="请输入邮箱" ng-model=user.email></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">用户名：</label>
				<div class="col-md-10">
				<input type="number" class="form-control" placeholder="请输入学号" ng-model=user.username></input>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<md-button  class="md-raised md-primary" ng-click="getpwd()">确定</md-button>
				</div>
			
			</div>
		</form>
	</div>
</div>