<md-dialog id="login-dialog" ng-controller="LoginCtrl">
   <md-toolbar class="md-toolbar-tools">
      <span flex></span>
      <span class="md-title">Login</span>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel">
         <md-icon md-svg-src="./Background/Home/phyman-1/assets/images/ic_close_48px.svg"></md-icon>
      </md-button>
   </md-toolbar>
   <md-progress-linear md-mode="indeterminate" ng-show="isLoggingIn"></md-progress-linear>
   <form name="loginForm" layout="column" layout-padding>
      <md-input-container>
         <label>Username:</label>
         <input name="username" type="text" ng-disabled="isLoggingIn" ng-model="user.username" ng-pattern="/^\w{8,20}$/" required>
         <div ng-messages="loginForm.username.$error" ng-show="loginForm.username.$dirty">
            <div ng-message="pattern">Username should be between 8 to 20 characters.</div>
         </div>
      </md-input-container>
      <md-input-container>
         <label>Password:</label>
         <input name="password" type="password" ng-disabled="isLoggingIn" ng-model="user.password" ng-pattern="/^\w{3,16}$/" required>
         <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty">
            <div ng-message="pattern"> Password should be between 8 to 16 characters.</div>
         </div>
      </md-input-container>
      <md-button class="md-raised md-primary" ng-disabled="loginForm.$pristine || loginForm.$invalid || !loginForm.$error || isLoggingIn" ng-click="onLoginClick()">Login</md-button>
      <md-button class="md-primary" href="#/forget_password" aria-label="Forget Password">Forget password?</md-button>
   </form>
</md-dialog>