<md-dialog id="login-dialog" ng-controller="LoginCtrl">
   <md-toolbar class="md-toolbar-tools">
      <span flex></span>
      <span class="md-title">Login</span>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel">
         <md-icon md-svg-src="assets/images/ic_close_48px.svg"></md-icon>
      </md-button>
   </md-toolbar>
   <div name="loginForm" layout="column" layout-padding>
      <md-input-container>
         <label>Username:</label>
         <input name="username" ng-model="user.username" required md-maxlength="20">
         <div ng-messages="loginForm.username.$error" ng-show="loginForm.username.$dirty">
            <div ng-message="required">Please input username.</div>
            <div ng-message="md-maxlength">Max length is 20.</div>
         </div>
      </md-input-container>
      <md-input-container>
         <label>Password:</label>
         <input name="password" ng-model="user.password" required md-maxlength="16">
         <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty">
            <div ng-message="required">Please input password.</div>
            <div ng-message="md-maxlength">Max length is 16.</div>
         </div>
      </md-input-container>
      <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
      <md-button class="md-primary" href="#/forget_password" aria-label="Forget Password">Forget password?</md-button>
   </div>
</md-dialog>