
<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" ui-sref="list({Type:0})">类型</a>
   </div>
   <div>
      <ul class="nav navbar-nav" id="navbar1"></ul>
      <script type="text/javascript">
      $.getJSON("/PHYMAN/index.php/Home/Testfunction/index",function(jsonData){
            $.each(jsonData,function(i,item){
            	alert('item.username');
               /* $("#navbar1").append("<li><a href='#list"+item.username+"'>"+item.password+"</a></li>");
            
           */
            });
      });            
      </script>
   </div>
</nav>
