<md-fab-speed-dial md-direction="up">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-warn" ng-click="newVote()">
      <md-icon md-svg-src="./Background/Home/phyman-1/assets/images/ic_add_48px.svg"></md-icon>
    </md-button>
  </md-fab-trigger>
</md-fab-speed-dial>
<div flex-gt-sm="90" layout-padding layout="column">
  <section>
    <md-subheader class="md-primary">本月</md-subheader>
    <md-list class="content-list md-whiteframe-1dp">
      <md-list-item class="md-2-line" ng-repeat="item in vote | voteFilter: 'new'" ng-click="viewVote(item.id)" ui-sref="vote.detail({id:item.id})">
          <span class="md-title">{{item.title}}</span>
          <span flex></span>
          <span class="md-caption">{{item.begtime | date:'MM-dd'}}</span>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </section>
  <section>
    <md-subheader class="md-primary">早期</md-subheader>
    <md-list class="content-list md-whiteframe-1dp">
      <md-list-item class="md-2-line" ng-repeat="item in vote | voteFilter: 'old'" ng-click="viewVote(item.id)" ui-sref="vote.detail({id:item.id})">
          <span class="md-title">{{item.title}}</span>
          <span flex></span>
          <span class="md-caption">{{item.begtime | date:'yyyy-MM-dd'}}</span>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </section>
</div>









<!--  <div ng-controller="votelistCtrl" layout="column" flex="100%" layout-fill="100%" ng-cloak="" 
class="subheaderdemoBasicUsage">
  <md-toolbar md-scroll-shrink="">
    <div class="md-toolbar-tools" width="800px">投票</div>
  </md-toolbar>

  <md-content style="height: 400px;" md-theme="altTheme">

    <section>
      <md-subheader class="md-primary">本月                           </md-subheader>
      <md-list layout-padding="">
        <md-list-item class="md-3-line" ng-repeat="votelist in vote track by $index">
          
            <a ui-sref="VoteDetail" class="md-list-item-text" ng-click="voteDetail(votelist.id)">
              <h3>{{votelist.id}}</h3>
              <h4>{{votelist.title}}</h4>
              <p>
                {{votelist.begtime}}
              </p>
              
            </a>
        </md-list-item>
      </md-list>
    </section>

   <section>
      <md-subheader class="md-primary">上月</md-subheader>
      <md-list layout-padding="">
        <md-list-item class="md-3-line" ng-repeat="list in vote track by $index">
          
            <div class="md-list-item-text">
                <h3>{{votelist.id}}</h3>
              <h4>{{votelist.title}}</h4>
              <p>
                {{votelist.begtime}}
              </p>
              
            </div>
        </md-list-item>
      </md-list>
    </section>

   <section>
      <md-subheader class="md-primary">更早</md-subheader>
      <md-list layout-padding="">
        <md-list-item class="md-3-line" ng-repeat="list in vote track by $index">
          
            <div class="md-list-item-text">
                <h3>{{votelist.id}}</h3>
              <h4>{{votelist.title}}</h4>
              <p>
                {{votelist.begtime}}
              </p>
              
            </div>
        </md-list-item>
      </md-list>
    </section>
   </md-content>
</div>


Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
 -->