<div class="md-padding" ng-cloak style="min-height:270px">
  <div layout="row" layout-wrap>
    <div flex="100" flex-gt-sm="90" layout="column">
      <div>
        <!--
          In IE, we cannot apply flex directly to <fieldset>
          @see https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
        -->
        <fieldset class="standard" >
        
          <legend>{{detail.title}}</legend>
           <md-content flex layout-padding >
    		<p>{{detail.content}}</p>
 			</md-content>
          <div layout="row" layout-wrap flex>
            <div flex="90" ng-repeat="item in items">
              <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                {{ item.content }}     <span ng-if="exists(item, selected)"></span>
              </md-checkbox>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div flex="100">
    <!-- <p>here</p> -->
     <md-button class="md-raised" ng-if="selected!=null" ng-click="votenow()">投票</md-button>
      <!-- <code style="display: block; padding: 8px;">{{selected | json}}</code> -->
    </div>
  </div>
</div>