<div  class="md-padding" ng-cloak ><!-- https://material.angularjs.org/latest/demo/input -->
  <div>
    <h1 class="md-title">新增投票</h1>
    <div name="voteNew" layout="column">
      <md-input-container>
        <label>标题</label>
        <input name="title" type="text" ng-disabled="isNewVote" ng-model="vote.title" ng-manlength="20" required>
        <div ng-show="vote.title.$dirty">
            <div ng-messages="pattern">title should be less than 20 characters.</div>
         </div>
      </md-input-container>
      
      <md-input-container>
        <label>说明</label> 
        <input name="content" type="text" ng-disabled="isNewVote" ng-model="vote.content" ng-manlength="200" required>
        <div ng-show="vote.content.$dirty">
            <div ng-messages="pattern">content should be less than 200 characters.</div>
         </div>
      </md-input-container>
      <h4>截止日期</h4>
    <md-datepicker ng-model="vote.date" md-placeholder="Enter date" required></md-datepicker>
      <md-input-container>
        <label>单选/多选</label>
        <md-select ng-model="vote.type" required>
          <md-option ng-repeat="state in states" value="{{state.abbrev}}">
            {{state.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>
      
      <md-input-container>
        <label>年级</label>
        <md-select multiple ng-model="vote.grade">
           <md-option ng-repeat="grade in grades" ng-click="toggle1(grade, gradesel)">
               {{grade.abbrev}} 
           </md-option>
        </md-select>
      </md-input-container>
      


      <h2 class="md-title">添加选项</h2>
      
      <section ng-repeat="number in options">
      <md-input-container >
        <label>选项{{number.optid}}:</label>
        <input ng-model="number.optcontent">
        <div ng-show="number.optcontent.$dirty">
            <div ng-messages="pattern">options should be less than 20 characters.</div>
         </div>
      </md-input-container>
      </section>
      <section>
      
      <md-button class="md-raised" ng-click="votenew()">确定</md-button>
      </section>
    </div>
  </div>
</div>

