<ng-form id="reset-passwd-form" name="resetPasswdForm" class="md-whiteframe-1dp" layout="column" layout-padding>
	<span class="md-subhead">请设置新密码：</span>
	<md-input-container>
		<label>新密码：</label>
		<input name="password" type="{{showPassword ? 'text' : 'password'}}" ng-model="password" ng-pattern="/^\w{8,16}$/" required>
		<div ng-messages="resetPasswdForm.password.$error" ng-show="resetPasswdForm.password.$dirty">
			<div ng-message="pattern">请输入8-16位密码</div>
		</div>
	</md-input-container>
	<md-checkbox id="show-passwd-checkbox" ng-click="showPassword = !showPassword">显示密码</md-checkbox>
	<md-button class="md-raised md-primary" ng-click="onResetPasswdClick()" aria-label="Reset Password"
	ng-disabled="resetPasswdForm.$pristine || resetPasswdForm.$invalid || !resetPasswdForm.$error">修改</md-button>
</ng-form>
