<md-fab-speed-dial md-direction="up">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-warn" ng-click="newScan()">
      <md-icon md-svg-src="assets/images/ic_add_48px.svg"></md-icon>
    </md-button>
  </md-fab-trigger>
</md-fab-speed-dial>

<div class="md-padding" ng-cloak style="min-height:270px">
  <div layout="row" layout-wrap>
    <div flex="100" flex-gt-sm="90" layout="column">
      <div>
        <fieldset class="standard" >
         <p>{{detail.username}}</p>
    		 <p>{{detail.count}}</p>
        </fieldset>


      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="活动项目">
          <md-grid-list
          md-cols-gt-md="12" md-cols="6" md-cols-md="8" md-row-height="30px"
          md-gutter-gt-md="8px" md-gutter-md="8px" md-gutter="4px">
            <md-grid-tile
              ng-repeat="item in scans" md-colspan="2" md-rowspan="2"
              ng-style="{
                'background': #f5f5f5
              }">
              <div layout="column" layout-align="center center">
                <span class="md-subhead">{{item.scanname}}</span>
              
              </div>
            </md-grid-tile>
        </md-grid-list>
       </md-tab>
      </md-tabs>

      </div>
    </div>
  </div>
</div>
