<md-fab-speed-dial md-direction="up">
  <md-fab-trigger permission permission-only="'admin'">
    <md-button aria-label="menu" class="md-fab md-warn" ng-click="newScan()">
      <md-icon md-svg-src="assets/images/ic_add_48px.svg"></md-icon>
    </md-button>
  </md-fab-trigger>
</md-fab-speed-dial>

<div class="md-padding" ng-cloak style="min-height:270px">
  <div layout="row" layout-wrap>
    <div flex="100" flex-gt-sm="90" layout="column">
      <h3>已参加活动项目： {{detail.count}}个</h3>
      <md-divider></md-divider>
      <md-grid-list id="activity-grid"
        md-cols-gt-md="12" md-cols="6" md-cols-md="9" md-row-height="40px"
        md-gutter-gt-md="8px" md-gutter-md="8px" md-gutter="4px">
          <md-grid-tile
              ng-repeat="item in scans" md-colspan="3" md-rowspan="2"
              ng-style="{
                'background': item.color
              }">
          <div layout="column" layout-align="center center">
            <span class="md-subhead">{{item.scanname}}</span>

          </div>
        </md-grid-tile>
      </md-grid-list>

      <div ng-if="ifAdmin" ng-controller='DetailCtrl' >
        <h3>活动详细统计</h3>
        <md-divider></md-divider>
        <md-input-container>
          <label>年级</label>
          <md-select ng-model="scan.grade" required>
            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
              {{state.abbrev}}
            </md-option>
          </md-select>
        </md-input-container>

        <div flex-gt-sm="90" layout-padding layout="column" ng-if="scan.grade">
          <md-content  md-scroll-y class="demo-source-container">
            <table   width="80%" cellpadding="0" cellspacing="0">
              <tbody >
                <tr>
                  <th width="30%">学号</th>
                  <th width="30%">姓名</th>
                  <th width="25%">活动次数</th>
                  <th width="15%">详细</th>
                </tr>
                <tr ng-repeat="item in scan| scanFilter: scan.grade">
                  <td align="center" valign="middle">{{item.id}}</td>
                  <td align="center" valign="middle">{{item.name}}</td>
                  <td align="center" valign="middle">{{item.count}}</td>
                  <td align="center" valign="middle">
                    <md-button align="center" valign="middle" ng-click="openDialog($event,item.id);">
                      <md-icon md-svg-src="assets/images/ic_view_comfy_24px.svg"></md-icon>
                    </md-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-content>
        </div>
      </div>
  </div>
</div>
