tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}


body {
    background-color: #f5f5f5;
}
#app-name, #left-menu-title {
    margin-left: 15px;
}
.nav-item-text {
    margin-left: 10px;
}
#show-passwd-checkbox {
    margin: 5px;
}
#content {
    width: 100%;
}
.content-list {
    background-color: white;
    max-width: 1000px;
}

.h-center {
    margin: 0 auto;
}

/*noti*/
md-fab-speed-dial {
    float: left;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}
#load-progress {
    position: fixed;
}
.page-container {
    padding:10px;
}
.page {
    background-color: white;
    max-width: 900px;
    padding:50px 20px 20px 20px;
    margin-top: 50px;
}
.page h2 {
    text-align: center;
}
.item-title {
    display: block;
}
md-input-container#noti-view-grade {
    min-width: 150px;
    margin-right: 10%;
    align-self: flex-end;
}
md-input-container#noti-title {
    margin-left: 10%;
    margin-right: 10%;
}

/*settings*/
#account-settings {
    margin: 0 auto;
    padding-top: 50px;
}
#reset-passwd-form {
    width: 350px;
    height: 300px;
    padding-top: 20px;
}

#update-email-form {
    width: 350px;
    height: 240px;
    padding-top: 20px;
}
/*notice*/
#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 20px solid #FF4081;
    border-right: 20px solid transparent;
    float: left;
}
#notice-container {
    padding: 10px 10px 10px 30px;
    display: inline-block;
    width: 66%;
}
#notice-title {
    display: block;
    font-size: 14px;
    text-align: left;
    margin-bottom: 6px;
}
#notice-content {
    display: block;
    font-size: 12px;
    text-align: left;
    margin: 5px 0 5px 0;
}
#notice-close-button {
    position: absolute;
    margin-bottom: 10px;
    margin-top: 10px;
}
#notice {
    position: fixed;
    bottom: 10px;
    right: 0;
    width: 350px;
    height: 60px;
    background-color: white;
}
#notice:hover {
    cursor: pointer;
}

/*animation*/
.fade.ng-animate {
    transition:0.5s linear all;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave.ng-leave-active {
    opacity: 0;
}
/*admin*/
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
/*vote*/
.checkboxdemoSyncing .checkboxDemo1 div {
  clear: both; }
.checkboxdemoSyncing .checkboxDemo1 md-checkbox {
  float: left; }
.checkboxdemoSyncing legend {
  color: #3F51B5; }
.checkboxdemoSyncing legend code {
  color: #3F51B5;
  font-weight: normal; }
.checkboxdemoSyncing p {
  padding-left: 8px; }
.checkboxdemoSyncing .info {
  padding-left: 13px; }
.checkboxdemoSyncing div.standard {
  padding: 8px;
  padding-left: 15px; 
}
.checkboxdemoSyncing fieldset.standard {
  border-style: solid;
  border-width: 1px;
  height: 100%; 
}
.div-left{
  float:left;
  color: #3F51B5;
  font-weight: normal;} 

.subheaderdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }

div#settings md-input-container {
    margin-left: 10px;
    margin-right: 10px;
}
div#vote-option-action {
    margin: 20px 10px 20px 10px;
}
h1#vote-new-title {
    text-align: center;
}


/*
admin*/
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}


