#app-name, #left-menu-title {
    margin-left: 15px;
}
.nav-item-text {
    margin-left: 10px;
}
#content {
    padding-left: 15px;
    padding-right: 15px;
}
#show-passwd-checkbox {
    margin: 5px;
}
