body {
    background-color: #f5f5f5;
}
#app-name, #left-menu-title {
    margin-left: 15px;
}
.nav-item-text {
    margin-left: 10px;
}
#show-passwd-checkbox {
    margin: 5px;
}
#main {
    min-height: 100%;
}
#content {
    width: 100%;
    min-height: 100%;
}
.content-list {
    background-color: white;
    max-width: 1000px;
}

/*noti*/
md-fab-speed-dial {
    float: left;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}
#load-progress {
    position: fixed;
}
.page-container {
    padding:32px;
}
.page {
    background-color: white;
    max-width: 900px;
    padding:20px;
}
.page h2 {
    text-align: center;
}
.item-title {
    display: block;
}

/*settings*/
#account-settings {
    margin: 0 auto;
    padding-top: 50px;
}
#reset-passwd-form {
    width: 350px;
    height: 300px;
    padding-top: 20px;
}