.checkboxdemoSyncing .checkboxDemo1 div {
  clear: both; }
.checkboxdemoSyncing .checkboxDemo1 md-checkbox {
  float: left; }
.checkboxdemoSyncing legend {
  color: #3F51B5; }
.checkboxdemoSyncing legend code {
  color: #3F51B5;
  font-weight: normal; }
.checkboxdemoSyncing p {
  padding-left: 8px; }
.checkboxdemoSyncing .info {
  padding-left: 13px; }
.checkboxdemoSyncing div.standard {
  padding: 8px;
  padding-left: 15px; 
}
.checkboxdemoSyncing fieldset.standard {
  border-style: solid;
  border-width: 1px;
  height: 100%; 
}
.div-left{
  float:left;
  color: #3F51B5;
  font-weight: normal;} 

.subheaderdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }


/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/